h1 {
    color: darkmagenta;
    animation-name: size;
    /* время действия */
    animation-duration: 2s;
    /* время задержки */
    animation-delay: 1s;
    /* как происходит анимация */
    /* animation-timing-function: ease; */
    /* easy - анимация начинается медленно,разгоняется быстро и замедляется под конец */
    animation-timing-function: ease-in;
    ;
    /* анимация начинается медленно  а затем плавно ускорятся в конце*/
    /* количество повторений */
    /* animation-iteration-count: infinite; */
    /* animation-iteration-count: 3; */
    /* animation-timing-function: ease-out; */
    /* начинается быстро и плавно замедляется в конце */
    animation-timing-function: ease-in-out;
    /* easy-in-out /начинается медленно и заканчивается медленно */
    /* направление анимации */
    animation-direction: alternate;
    /* каждый нечетный повтор цикла анимации воспроизводится в нормальном направлении,
     а каждый четный в обратном направлении */
    animation-direction: reverse;
    /* анимации в обратном направлении */
    animation-direction: alternate-reverse;
    /* каждый нечетный повтор воспроизводится в обратном направлении,
     а чкаждый четный в нормальном направлении */
}

@keyframes size {
    from {
        font-size: 12px;
    }
    50% {
        font-size: 15px;
    }
    to {
        font-size: 12px;
    }
}

.box {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: black;
}

.ball {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: linear;
    animation-direction: alternate-reverse;
}

.ball:nth-child(2) {
    animation-delay: .1s;
}

.ball:nth-child(3) {
    animation-delay: .2s;
}

.ball:nth-child(4) {
    animation-delay: .3s;
}

.ball:nth-child(5) {
    animation-delay: .4s;
}

.ball:nth-child(6) {
    animation-delay: .5s;
}

@keyframes move {
    0%  {
        left: 0;
        bottom: 0;
    }
    100% {
        left: 150px;
        bottom: 150px;
    }
}