body {
    background-image: url("https://cdn.wallpapersafari.com/30/2/DW4IO6.jpg");
    height: 100vh;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: contain;
    /* Resize the background image to cover the entire container */
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 40%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card, .mini-card {
    border: 0.3px solid #fff;
    border-radius: 15px;
    background: hsla(0, 0%, 100%, 0.3);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    height: 320px;
    overflow: hidden;
    margin: 20px auto;
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card::before .mini-card::before {
    content: "";
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    z-index: -1;
}

.card__inner, .mini-card__inner {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

.mini-card {
    margin: 20px;
    width: 150px;
    height: 200px;
    font-size: 1rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

