@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');
.text {
    background: green;
    width: 150px;
    height: 150px;
    display: inline-block;
}

#box {
    background: hotpink;
    width: 150px;
    height: 150px;
    display: inline;
}

.some-text {
    display: inline-block;
    width: 150px;
    font-weight: 700;
}

h3 {
    text-align: left;
    /* padding: 10px 20px 30px 40px;  */
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    margin: 10 px 20px 30px 40px;
    background: darkblue;
    color: white;
    border-width: 5px;
    border-style: solid;
    border-color: red;
}

.container {
    max-width: 100%;
    width: 90%;
    margin: o auto;
    font-family: 'Azeret Mono', monospace;
}

* {
    padding: 0;
    margin: 0;
}

.main-block {
    text-align: center;
    background: #8f6b9c;
    box-shadow: -webkit-box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.35);
    ;
}

.input-block {
    padding-top: 10px;
    padding-bottom: 20px;
}

.main-block h2 {
    padding-top: 10px;
}